.about-content{
    min-height: 50vh;
    max-width: 800px !important;
    text-align: justify;
    padding: 100px 0px;
}

.about-content p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: rgb(82, 82, 82);
}

.roundedPic{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 50px auto;
}